body {
  font-family: 'Gotham';
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

select {
  color: #274b75;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #274b75;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #315d91;
}

select, option, a {
  cursor: pointer;
}

#main-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#frontpage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  vertical-align: middle;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  max-width: 1450px;
  max-height: 800px;
  height: 80%;
  padding: 1%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#missing-fields-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: red;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  border-top-left-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.397);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.397);
  cursor: pointer;
}

#no-padding {
  padding: 0%;
}

#missing-fields-container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  text-align: center;
  font-size: 20px;
  background: transparent;
  color: #fff;
  padding: 5%;
  border-bottom: solid rgba(128, 128, 128, 0.185) 1px;
  cursor: pointer;
}

#missing-fields {
  display: none;
  /* flex */
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: auto;
  overflow-x: hidden;
  width: 100%;
  height: 50vh;
  padding: 5%;
  background: #fff;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.397);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.397);
}

.missing-field-item {
  height: 5vh;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #141a5a;
}

.missing-field-item i {
  font-size: 12px;
}

#button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  width: 100%;
  height: 7%;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#button-container h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 20px;
  margin: 0;
  padding: 1% 1%;
  cursor: pointer;
  font-weight: bold;
}

#todays-drafts-button {
  background: #fff;
  height: 90%;
  color: #3b5998;
  border-top-left-radius: 20px;
}

#custom-drafts-button {
  border-top-right-radius: 20px;
  color: #fff;
  height: 90%;
  background-color: #274b75;
  background-image: linear-gradient(180deg,#274b75,#315f92);
}

#draft-selection {
  position: relative;
  width: 45%;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.267);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.267);
  z-index: 2;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#predrafted-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  width: 55%;
  height: 90%;
  margin-left: -3%;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.267);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.267);
  background: transparent;
  z-index: 1;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#predraftHTML {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  width: 88%;
  height: 96%;
  padding: 2%;
  margin-left: 10%;
  overflow: auto;
}

#predraftHTML li {
  list-style: disc;
  margin-left: 5%;
}

#home-bg-container-top {
  position: absolute;
  top: 0%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

#predraft-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 92%;
  overflow: auto;
}

#todays-drafts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  vertical-align: middle;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 100%;
}

#todays-drafts h2 {
  text-align: center;
  letter-spacing: 3px;
}

#todays-drafts .all-messages-drafted {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  font-size: 26px;
  color: #c7c7c7;
}

#draft-container {
  width: 100%;
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
}

#draft-container h2 {
  text-align: center;
  letter-spacing: 1px;
  color: #274b75;
  font-weight: bold;
}

h1 {
  width: 100%;
  height: 0;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
}

#logo-container {
  width: 50%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: center;
  text-align: center;
  color: #274b75;
  font-size: 26px;
  letter-spacing: 2px;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.logo-title {
  border-radius: 20px;
  background-color: #274b75;
  background-image: linear-gradient(0deg,#274b75,#315f92);
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-top: 5px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.875em;
  letter-spacing: 0;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 5%;
  height: 50%;
  width: 50%;
  min-width: 90px;
  min-height: 90px;
  background: url("./assets/images/BDILogoFinal.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
  -webkit-transition-delay: 1000ms;
          transition-delay: 1000ms;
  border-radius: 0;
}

#event-search, #message-type-search, #message-name-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  max-width: 400px;
  padding: 0;
  margin: 2%;
}

#draft-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 20px;
  width: 80%;
  padding: 3%;
  margin-top: 3%;
  background-color: #274b75;
  background-image: linear-gradient(180deg,#274b75,#315f92);
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-weight: bold;
}

#draft-button:hover {
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.171);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.171);
}

.button-container {
  width: 80%;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#drafted-button {
  width: 250px;
  padding: 2%;
  background: #90e9ff;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

#drafted-container {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-width: 600px;
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
  height: 100vh;
}

#drafted-container #back-button {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1%;
  z-index: 5;
  height: 12vh;
  width: 12vh;
  font-size: 75px;
  color: #274b75;
  cursor: pointer;
}

#drafted-container #back-button:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

#drafted-container #back-button i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

#drafts-outline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  background: #fff;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 70%;
  padding-top: 5%;
  padding-bottom: 5%;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.274);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.274);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 99;
  flex-direction: column;
}

#drafts, #drafts-breadcrumbs {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 80%;
  height: 100%;
}

#drafts-breadcrumbs p {
  text-align: center;
}

#drafts-breadcrumbs p span {
  color: #274b75;
  padding: 1%;
  font-size: 15px;
  background: #e5e5e5;
  border-radius: 40px;
}

#drafts li {
  list-style: disc;
  margin-left: 1%;
}

.select {
  position: relative;
  margin: 0 auto;
  z-index: 10;
  border: 2px solid #e5e5e5;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  width: 100%;
  padding: 3% 4% 3% 4%;
  font-size: 16px;
  background: #fff;
  border-radius: 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.select:hover {
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.048);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.048);
  border: 2px solid #d3e5ff65;
}

select option {
  background-color: white;
  width: 310px;
  padding: 10px 15px;
  height: 20px;
  cursor: pointer;
}

.accordion {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}

ul .inner li {
  font-size: 16px;
  padding: 1.5%;
  cursor: pointer;
  margin: 0;
  color: #274b75;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

ul .inner :hover {
  -webkit-box-shadow: 2px 2px 10px rgba(10, 10, 10, 0.116);
          box-shadow: 2px 2px 10px rgba(10, 10, 10, 0.116);
}

ul .inner :hover i {
  color: #3b5998;
}

ul .inner i {
  font-size: 18px;
  color: #d3e5ff;
}

ul li {
  margin: .5em 0;
}

ul li a.toggle {
  width: 96%;
  display: block;
  font-size: 28px;
  padding: 2%;
  color: #3b5998;
  text-decoration: none;
  outline: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.027);
}

ul li a.toggle:hover {
  border-bottom: solid 2px rgba(0, 0, 0, 0);
  background: #fdfdfd;
}

ul li a.toggle p.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
}

ul li a.toggle p.name span.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  color: #274b75;
  font-size: 26px;
}

ul li a.toggle p.name span.second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
}

ul li a.toggle p.name span.second i {
  font-size: 32px;
  color: #dddddd;
}

ul li a.toggle span {
  font-size: 23px;
  color: #c7c7c7;
}

ul li a.toggle span i {
  color: #d3e5ff;
}

#backgroundDesign {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

hr {
  width: 100%;
  border: solid 2px #cfcfcf50;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.messagetypename, .messagesubject {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #274b75;
  padding: 1%;
  font-size: 15px;
  background: #e5e5e5;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.messagetypename i, .messagesubject i {
  color: #fff;
}

.title-pulse {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2%;
  margin-left: 1%;
  width: 80%;
  height: 20%;
  margin-left: 1%;
  background-color: rgba(165, 165, 165, 0.048);
}

.messages-pulse {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2%;
  margin-left: 1%;
  width: 70%;
  height: 20%;
  margin-left: 1%;
  background-color: rgba(165, 165, 165, 0.048);
}

.load-pulse {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1%;
  width: 100%;
  height: 15%;
  background-color: rgba(165, 165, 165, 0.055);
  animation: pulse infinite 2000ms;
  -webkit-animation: pulse infinite 2000ms;
}

@-webkit-keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.945);
  }
  50% {
    background-color: rgba(236, 236, 236, 0.945);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.938);
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.945);
  }
  50% {
    background-color: rgba(236, 236, 236, 0.945);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.938);
  }
}

@media screen and (max-width: 875px) {
  #frontpage-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 800px;
  }
  #draft-selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    vertical-align: center;
    -ms-flex-item-align: center;
        align-self: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.267);
            box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.267);
    z-index: 2;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }
  #predrafted-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    vertical-align: center;
    -ms-flex-item-align: center;
        align-self: center;
    position: relative;
    width: 98%;
    height: 90%;
    margin-left: 0%;
    margin-top: -3%;
    -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.267);
            box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.267);
    background: transparent;
    z-index: 1;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }
  #predraftHTML {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    vertical-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 16px;
    width: 95%;
    height: 84%;
    padding: 2%;
    margin-top: 10%;
    margin-left: 0%;
    overflow: auto;
  }
  #predraftHTML li {
    list-style: disc;
    margin-left: 5%;
  }
  #button-container {
    height: 15%;
  }
  #button-container h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    vertical-align: middle;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
    margin: 0;
    padding: 1% 1%;
    cursor: pointer;
    font-weight: bold;
  }
}

span#view {
  font-size: 20px;
  color: #f1f6ff;
}

.last-updated {
  color: #537396;
  text-align: right;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.predrafted-message {
  cursor: pointer;
}


/* Personalization pulsing dropdown styles */




.personalization-container {
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 100;
  display: none;
}

.personalization-float-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  float: left;
  text-align: left;
}

.personalization-float-left .active small {
  color: #274b75;
}

.personalization-btn {
  outline: 0;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  background-color: #274b75;
  background-image: linear-gradient(0deg,#274b75,#315f92);
  min-width: 35em;
  border: 0;
  border-bottom-left-radius: 20px;
  box-shadow: 2px 2px 20px #ffffffc7;
  box-sizing: border-box;
  padding: 16px 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  z-index: 100;
}
.personalization-btn:focus .personalization-dropdown, .personalization-btn:active .personalization-dropdown {
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
  opacity: 1;
  visibility: visible;
  background: white;
  z-index: 100;
}
.personalization-btn .material-icons, .material-icons {
  border-radius: 100%;
  -webkit-animation: ripple 0.6s linear infinite;
          animation: ripple 0.6s linear infinite;
}
.personalization-btn .personalization-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 100;
  padding-bottom: 30px;
  padding-top: 30px;
}
.personalization-btn .personalization-dropdown:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 20px;
  width: 0;
  height: 0;
  background: white;
  box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.05);
  border-top: 6px solid #ffffff;
  border-right: 6px solid #ffffff;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  mix-blend-mode: multiple;
  opacity: 1;
}

.personalization-btn .personalization-dropdown p {
  z-index: 100;
  position: relative;
  background: white;
  padding: 0 30px;
  opacity: 1;
  color: #274b75;
  letter-spacing: 0;
  text-transform: none;
  font-size: 16px;
}

.personalization-btn .personalization-dropdown ol, .personalization-btn .personalization-dropdown li {
  z-index: 100;
  position: relative;
  background: white;
  padding: 0 20px;
  font-weight: normal;
  font-size: 16px;
  opacity: 1;
  color: #274b75;
  letter-spacing: 0;
  text-transform: none;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-top: 20px;
  list-style: inside decimal;
}

.personalization-btn .personalization-dropdown li:hover {
  background: #efefef;
}

.personalization-btn .personalization-dropdown p.active {
  color: #274b75;
}

.personalization-btn .personalization-dropdown a {
  display: block;
  color: inherit;
  letter-spacing: 0;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
}

@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}


.open-personalization1, .open-personalization2 {
  width: max-content;
  color: white;
  margin: 0;
  padding: 1%;
  font-size: 15px;
  background: #3e5c9c;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  transition: ease-in-out 300ms;
    -webkit-animation: ripple 0.6s linear infinite;
          animation: ripple 0.6s linear infinite;
}

.open-personalization:hover {
  background: #5c7abb;
  transition: ease-in-out 300ms;
}

.msg-option-btn {
  padding: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-right: 1em;
  margin-bottom: 1em;
  background: #274b75;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: ease-in-out 300ms;
}

.msg-option-btn:hover {
  transform: scale(1.05);
  transition: ease-in-out 300ms;
}

div.ql-editor {
  height: max-content !important;
  font-size: 15px;
}

div.ql-container.ql-snow {
  height: max-content !important;
  padding-bottom: 3em;
  font-size: 15px;
  border: 1px solid #dfe3ee !important;
  border-top: none !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ql-toolbar.ql-snow {
  border: 1px solid #dfe3ee !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ql-snow .ql-picker {
  color: #274b75 !important;
}

.ql-formats button {
  color: #274b75 !important;
}

.ql-snow .ql-stroke {
  stroke: #274b75 !important;
}

.ql-editor ul > li::before {
  content: '' !important;
}

.ql-editor ul > li::before {
  content: '' !important;
}

.capitalize {
  text-transform: capitalize;
}

ul li {
  padding: none;
  margin: none;=[]p
}



